[Unit]
Description=backuprs Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
#ExecStart=/home/backuprs/bin/backuprs test -j job --dry-run
ExecStart=/home/backuprs/bin/backuprs daemon
#ExecStart=/home/backuprs/bin/backuprs run -j job
WorkingDirectory=/home/backuprs
Nice=4
Restart=on-failure
#Restart=never
User=backuprs
Group=backuprs

PrivateDevices=yes
PrivateTmp=yes
ReadOnlyPaths=/
# change the folders according to your scratch-dir
ReadWritePaths=/home/backuprs/.cache /home/backuprs/scratchspace /tmp
NoExecPaths=/
ExecPaths=/usr/lib /usr/lib64 /home/backuprs/bin
ProtectHome=no

SystemCallFilter=@system-service
# Allow read everywhere
AmbientCapabilities=CAP_DAC_READ_SEARCH

[Install]
WantedBy=multi-user.target
