# Rename this to config.toml

[global]
# Pubkey of restic server
restic_key = "<CHANGE ME>"
# Path to restic binary
restic_binary = "C:/restic_0.15.1_windows_amd64/restic_0.15.1_windows_amd64.exe"
# Default intervall for jobs in seconds
default_interval = 86400

# Rest-Server as backend
[global.Rest]
# URL for rest server to use for all jobs
rest_url = "example.com:443"
server_pubkey_file = "C:/Users/Foo/pub_key"

# All backup jobs, start each one with [[jobs]]
[[job]]
# For referencing jobs in commands and output
name = "My Backup Job"
# Command to run pre backup
# pre_command = ""
# Paths to include for backup
# Use only / for delimiters
paths = ["C:/Users/Foo"]
# Exclude items see [restic docs](https://restic.readthedocs.io/en/latest/040_backup.html#excluding-files)
excludes = []
# Login user
user = "ah-windows"
# Password for user
password = "<CHANGE ME>"
# Encryption key
repository_key = "<CHANGE ME>"
# Repository name
repository = "<CHANGE ME>"
# Command to run post backup
# post_command = ""
# Whether to run the post_command even on backup failure
post_command_on_failure = false