# Rename this to config.toml

[global]
# Pubkey of restic server
restic_key = "<CHANGE ME>"
# Path to restic binary
restic_binary = "C:/restic_0.15.1_windows_amd64/restic_0.15.1_windows_amd64.exe"
# Default intervall for jobs in minutes
default_interval = 86400
# Directory used for database files created during backup creation
scratch_dir = "scratchdir"

# mysql dumb binary, if used for database backups
# mysql_dumb_binary = "C:/Program Files/mysql/mysqldump.exe"

# postgres dumb binary, if used for database backups
# postgres_dumb_binary = "C:/Program Files/PostgreSQL/14/bin/pg_dump.exe"

# [global.period]
# Optionally limit backup scheduling to the following time frame
# start time
# backup_start_time = "22:00"
# end time
# backup_end_time = "05:00"

# Rest-Server as backend
[global.Rest]
# URL for rest server to use for all jobs
rest_url = "example.com:443"
server_pubkey_file = "C:/Users/Foo/pub_key"

# All backup jobs, start each one with [[jobs]]
[[job]]
# For referencing jobs in commands and output, also used as part of the database backup folder
name = "My Backup Job"
# Command to run pre backup
# pre_command = ""
# Paths to include for backup
# Use only / for delimiters
paths = ["C:/Users/Foo"]
# Exclude items see [restic docs](https://restic.readthedocs.io/en/latest/040_backup.html#excluding-files)
excludes = []
# Login user
user = "<CHANGE ME>"
# Password for user
password = "<CHANGE ME>"
# Encryption key
repository_key = "<CHANGE ME>"
# Repository name
repository = "<CHANGE ME>"
# Command to run post backup
# post_command = { command = "", args= ["foo","bar"] }
# Whether to run the post_command even on backup failure
post_command_on_failure = false
# custom interval for this job, in minutes
# interval = 1440
# Postgres Database backup
# postgres_db = {database = "database", change_user = false, user = "user", password = "password"}
# MySQL Database backup
# mysql_db = "database"